/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(227, 227, 227);
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: rgb(64, 64, 64);
  font-weight: 400;
}

html {
  height: 100%;
}

.ant-select .ant-select-selector {
  border: none !important;
  border-bottom: solid 1px grey !important;
  border-radius: 0 !important;
}
